@page
@model Proteus.UI.Areas.Identity.Pages.Roles.DeleteModel

@{
    ViewData["Title"] = "Role Delete";
}

<div class="container-fluid">
    <div class="row">
        <!-- left column -->
        <div class="col-md-8">
            <!-- general form elements -->
            <div class="card card-light">
                <div class="card-header">
                    <h3 class="card-title">Delete Role</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form method="post" role="form">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <dl class="row">
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.Role.Name)
                            </dt>
                            <dd class="col-sm-7">
                                @Html.DisplayFor(model => model.Role.Name)
                            </dd>
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.Role.Description)
                            </dt>
                            <dd class="col-sm-7">
                                @Html.DisplayFor(model => model.Role.Description)
                            </dd>
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.Role.CreatedDate)
                            </dt>
                            <dd class="col-sm-7">
                                @Html.DisplayFor(model => model.Role.CreatedDate)
                            </dd>
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.Role.ModifiedDate)
                            </dt>
                            <dd class="col-sm-7">
                                @if (Model.Role.ModifiedDate > DateTime.MinValue)
                                {
                                    @Html.DisplayFor(model => model.Role.ModifiedDate)
                                }
                            </dd>
                        </dl>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <input type="hidden" asp-for="Role.Id" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </div>
                </form>
            </div>
            <!-- /.card -->
        </div>
    </div>
    <div>
        <a asp-page="./Index">Back to List</a>
    </div>
</div>

