@page
@model Proteus.UI.Areas.Identity.Pages.Roles.DetailsModel

@{
    ViewData["Title"] = "Role Details";
}

<div class="container-fluid">
    <div class="card card-light">
        <div class="card-header ">
            <h3 class="card-title">Role Details</h3>
        </div>
        <div class="card-deck">
            <div class="card col-7">
                <div class="card-body">
                    <h5 class="card-title">Role Information</h5>
                    <br />
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-3">
                                Role Name
                            </dt>
                            <dd class="col-sm-7">
                                @Html.DisplayFor(model => model.Role.Name)
                            </dd>
                            <dt class="col-sm-3">
                                Description
                            </dt>
                            <dd class="col-sm-7">
                                @Html.DisplayFor(model => model.Role.Description)
                            </dd>
                            <dt class="col-sm-3">
                                Created Date
                            </dt>
                            <dd class="col-sm-7">
                                @Html.DisplayFor(model => model.Role.CreatedDate)
                            </dd>
                            <dt class="col-sm-3">
                               Modified Date
                            </dt>
                            <dd class="col-sm-7">
                                @Html.DisplayFor(model => model.Role.ModifiedDate)
                            </dd>
                        </dl>
                    </div>
                    <!-- /.card-body -->
                    <div >
                        <a asp-page="./Edit" asp-route-id="@Model.Role.Id">Edit Role</a>
                    </div>
                </div>
            </div>
            <div class="card col-5">
                <div class="card-body">
                    <h5 class="card-title">Users in Role</h5>
                    <br />
                    <div class="card-body">
                        <dl class="row">
                            @foreach (var userRole in Model.Role.UserRoles)
                            {
                                <dt class="col-sm-3">
                                    User Name
                                </dt>
                                <dd class="col-sm-7">
                                    @userRole.User.UserName
                                </dd>

                            }
                        </dl>
                    </div>
                    <div>
                        <a asp-area="Identity" asp-page="/UserRoles/Index" asp-route-id="@Model.Role.Id" asp-route-type="r">Edit Role Users</a>
                    </div>
                </div>
            </div>
        </div>       
    </div>
    <div>
        <a asp-page="./Details">Back to Details</a>&nbsp;|&nbsp;<a asp-page="./Index">Back to List</a>
    </div>
</div>
