@page
@model Proteus.UI.Areas.Identity.Pages.Users.DeleteModel

@{
    ViewData["Title"] = "User Delete";
}

<div class="container-fluid">
    <div class="card card-light">
        <div class="card-header ">
            <h3 class="card-title">Delete User</h3>
        </div>
        <div class="card-deck">
            <div class="card col-7">
                <div class="card-body">
                    <h5 class="card-title">User Information</h5>
                    <br />
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <dl class="row">
                            <dt class="col-sm-3">
                                User Name
                            </dt>
                            <dd class="col-sm-7">
                                @Html.DisplayFor(model => model.Input.UserName)
                            </dd>
                            <dt class="col-sm-3">
                                EDI
                            </dt>
                            <dd class="col-sm-7">
                                @Html.DisplayFor(model => model.Input.EDI)
                            </dd>
                            <dt class="col-sm-3">
                                Email
                            </dt>
                            <dd class="col-sm-7">
                                @Html.DisplayFor(model => model.Input.Email)
                            </dd>
                            <dt class="col-sm-3">
                                Phone 
                            </dt>
                            <dd class="col-sm-7">
                                @Html.DisplayFor(model => model.Input.PhoneNumber)
                            </dd>
                            <dt class="col-sm-3">
                                First Name
                            </dt>
                            <dd class="col-sm-7">
                                @Html.DisplayFor(model => model.Input.FirstName)
                            </dd>
                            <dt class="col-sm-3">
                                M.I.
                            </dt>
                            <dd class="col-sm-7">
                                @Html.DisplayFor(model => model.Input.MI)
                            </dd>
                            <dt class="col-sm-3">
                                Last Name
                            </dt>
                            <dd class="col-sm-7">
                                @Html.DisplayFor(model => model.Input.LastName)
                            </dd>
                            <dt class="col-sm-3">
                                Gov. POC Name
                            </dt>
                            <dd class="col-sm-7">
                                @Html.DisplayFor(model => model.Input.GovPOCName)
                            </dd>
                            <dt class="col-sm-3">
                                Gov.POC Email
                            </dt>
                            <dd class="col-sm-7">
                                @Html.DisplayFor(model => model.Input.GovPOCEmail)
                            </dd>
                            <dt class="col-sm-3">
                                Gov. POC Phone
                            </dt>
                            <dd class="col-sm-7">
                                @Html.DisplayFor(model => model.Input.GovPOCPhoneNumber)
                            </dd>
                            <dt class="col-sm-3">
                                Is Enabled
                            </dt>
                            <dd class="col-sm-7">
                                @if (Model.Input.IsEnabled)
                                {
                                    <i class="fas fa-check" style="color:green"></i>
                                }
                                else
                                {
                                    <i class="fas fa-times" style="color:red"></i>
                                }
                            </dd>
                            <dt class="col-sm-3">
                                Is Locked Out
                            </dt>
                            <dd class="col-sm-7">
                                @if (Model.Input.IsLockedOut)
                                {
                                    <i class="fas fa-lock" style="color:red"></i>
                                }
                                else
                                {
                                    <i class="fas fa-lock-open" style="color:green"></i>
                                }
                            </dd>
                            <dt class="col-sm-3">
                                Last Login Date
                            </dt>
                            <dd class="col-sm-7">
                                @Html.DisplayFor(model => model.Input.LastLoginDate)
                            </dd>
                            <dt class="col-sm-3">
                                Created Date
                            </dt>
                            <dd class="col-sm-7">
                                @Html.DisplayFor(model => model.Input.CreatedDate)
                            </dd>
                            <dt class="col-sm-3">
                                Modified Date
                            </dt>
                            <dd class="col-sm-7">
                                @Html.DisplayFor(model => model.Input.ModifiedDate)
                            </dd>
                        </dl>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <div class="card col-5">
                <div class="card-body">
                    <h5 class="card-title">User Roles</h5>
                    <br />
                    <div class="card-body">
                        <dl class="row">
                            @foreach (var userRole in Model.Input.UserRoles)
                            {
                                <dt class="col-sm-3">
                                    Role Name
                                </dt>
                                <dd class="col-sm-7">
                                    @userRole.Role.Name
                                </dd>

                            }
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <form method="post" role="form">
                <input type="hidden" asp-for="Input.Id" />
                <input type="submit" value="Delete" class="btn btn-danger" />

            </form>
        </div>
    </div>

    <div>
        <a asp-page="./Index">Back to List</a>
    </div>
</div>
