@page
@model Proteus.UI.Areas.Identity.Pages.Users.DetailsModel

@{
    ViewData["Title"] = "User Details";
}

<div class="container-fluid">
    <div class="card card-light">
        <div class="card-header ">
            <h3 class="card-title">User Details</h3>
        </div>
        <div class="card-deck">
            <div class="card col-7">
                <div class="card-body">
                    <h5 class="card-title">User Information</h5>
                    <br />
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-3">
                                User Name
                            </dt>
                            <dd class="col-sm-7">
                                @Html.DisplayFor(model => model.Input.UserName)
                            </dd>  
                            <dt class="col-sm-3">
                                Email
                            </dt>
                            <dd class="col-sm-7">
                                @Html.DisplayFor(model => model.Input.Email)
                            </dd>                            
                            <dt class="col-sm-3">
                               First Name
                            </dt>
                            <dd class="col-sm-7">
                                @Html.DisplayFor(model => model.Input.FirstName)
                            </dd>
                            <dt class="col-sm-3">
                                M.I.
                            </dt>
                            <dd class="col-sm-7">
                                @Html.DisplayFor(model => model.Input.MI)
                            </dd>
                            <dt class="col-sm-3">
                               Last Name
                            </dt>
                            <dd class="col-sm-7">
                                @Html.DisplayFor(model => model.Input.LastName)
                            </dd>
                            <dt class="col-sm-3">
                                Is Enabled
                            </dt>
                            <dd class="col-sm-7">
                                @if (Model.Input.IsEnabled)
                                {
                                    <i class="fas fa-check" style="color:green"></i>
                                }
                                else
                                {
                                    <i class="fas fa-times" style="color:red"></i>
                                }
                            </dd>
                            <dt class="col-sm-3">
                                Is Locked Out
                            </dt>
                            <dd class="col-sm-7">
                                @if (Model.Input.IsLockedOut)
                                {
                                    <i class="fas fa-lock" style="color:red"></i>
                                }
                                else
                                {
                                    <i class="fas fa-lock-open" style="color:green"></i>
                                }
                            </dd>
                            <dt class="col-sm-3">
                                Last Login Date
                            </dt>
                            <dd class="col-sm-7">
                                @Html.DisplayFor(model => model.Input.LastLoginDate)
                            </dd>
                            <dt class="col-sm-3">
                                Created Date
                            </dt>
                            <dd class="col-sm-7">
                                @Html.DisplayFor(model => model.Input.CreatedDate)
                            </dd>
                            <dt class="col-sm-3">
                                Modified Date
                            </dt>
                            <dd class="col-sm-7">
                                @Html.DisplayFor(model => model.Input.ModifiedDate)
                            </dd>
                        </dl>
                        <div>
                            <a asp-page="./Edit" asp-route-id="@Model.Input.Id" asp-route-type="u">Edit</a>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <div class="card col-5">
                <div class="card-body">
                    <h5 class="card-title">Roles for User</h5>
                    <br />
                    <div class="card-body">
                        <dl class="row">
                            @foreach (var userRole in Model.Input.UserRoles)
                            {
                                <dt class="col-sm-3">
                                    Role Name
                                </dt>
                                <dd class="col-sm-7">
                                    @userRole.Role.Name
                                </dd>

                            }
                        </dl>
                        <div>
                            <a asp-area="Identity" asp-page="/UserRoles/EditUserRoles" asp-route-id="@Model.Input.Id">Edit User Roles</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
       <a asp-page="./Index">Back to List</a>
    </div>
</div>
